body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    overflow: hidden;
}

.init-game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-height: 400px;
    height: 66%;
    width: 600px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
}

.player-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-box {
    position: fixed;
    left: 684px;
    top: 216px;
    width: 400px;
    height: 464px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chat-box-messages {
    height: 180px;
    padding: 3px;
    flex-grow: 1;
    overflow: auto;
    color: #222323;
}

.chat-box-message {
    padding: 2px;
    border-bottom: solid 1px #eee;
}

.chat-box-input {
    bottom: 0;
    display: flex;
    width: 100%;
    height: 30px;
}

.chat-box-input-text {
    height: 20px;
    resize: none;
    align-items: stretch;
    flex-grow: 1;
}

.chat-box-input-btn {
    height: 22px;
    width: 60px;
    padding-top: 3px;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
}

.chat-box-messages-date {
    color: grey;
    margin-right: 5px;
}

.chat-box-messages-author {
    font-weight: bold;
    margin-right: 5px;
}