.chat-box {
  position: fixed;
  left: 684px;
  top: 216px;
  width: 400px;
  height: 464px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chat-box-messages {
  height: 180px;
  padding: 3px;
  flex-grow: 1;
  overflow: auto;
  color: #fff;
  background-color: #000;
}

.chat-box-message {
  padding: 2px;
  border-bottom: solid 1px #eee;
}

.chat-box-input {
  bottom: 0;
  display: flex;
  width: 100%;
  height: 30px;
}

.chat-box-input-text {
  height: 20px;
  resize: none;
  align-items: stretch;
  flex-grow: 1;
}

.chat-box-input-btn {
  height: 22px;
  width: 60px;
  padding-top: 3px;
  text-align: center;
  background-color: lightblue;
  cursor: pointer;
}

.chat-box-messages-date {
  color: grey;
  margin-right: 5px;
}

.chat-box-messages-author {
  font-weight: bold;
  margin-right: 5px;
}
