.night-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-line {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  justify-content: space-between;
}

.vote-line>div {
  margin-right: 15px;
}